@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Miriam+Libre');
body,html {
    height: 100%;
    margin: 0;
}

body {
  /* Old browsers */
  background: #F44336;
    background: linear-gradient(-45deg, #35577D, #F44336);
  padding: 0px 75px 75px 100px;
  font-family: 'Raleway', sans-serif;
}
#nav{
    font-family: sans-serif;
	text-align: left;
	background: #FF8A80;
    margin: 0px 0px;
	margin-top: 0px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
}
#nav ul{
    display: : inline;
    background-color: rgb(0,0,0,0.3);
    padding : 10px;
}
#nav ul li{
    display: inline;
    text-align: :left;
    
}
#nav ul li a{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	padding: 3px 5px;
    font-style: normal;
}
#nav ul li a:hover{
    background: #333;
    font-weight: bold;
	color: #fff;
}
#home{
    font-size:2em;
    font-family: 'Miriam Libre', sans-serif;
    font-weight: bold;
}
.hero-image {
    background-image: url("");
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 100;
  font-size: 22px;
  padding-bottom: 30px;
  text-align: left;
  width: 70%;
}
p {
  color: AliceBlue;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
}
#projectWork h4 a{
    color: #FFFDE7;
	text-decoration: none;
    padding-bottom: 2px;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
}